<!DOCTYPE html>
<html>
<style>
#myForm {
  transition: all linear 0.5s;
  height:auto;
  width: 100%;
  top: 0;
  left: 0;
}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
table th{
  background-color: white;	
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- angularjs -->
<script>
var app = angular.module('app', []);
app.controller('formControl', ($scope, $http) => {
      $scope.updating = false;
      
      $scope.create = (name,city,country) => {
          customer = { 
            Name: name, 
            City: city,
            Country: country
          };
          $scope.customers.push(customer);
      }
      
     $scope.addCustClick = () => {
     	$scope.showCust = !$scope.showCust;
     }
        
     $http.get("customers.php").then((response) => {
          $scope.customers = response.data.records;
      });
    
      $scope.delete = (c) => {
          $scope.customers.pop(c.$$hashkey)
      }
      
      $scope.update = (c) => {
      	$scope.updating = !$scope.updating;
      }
});
</script>
<!-- endof angularjs -->


<body class="container" style="width:100%">
<div class="jumbotron" style="margin-top:2.5%;margin-bottom:3%;background-color:black;color:white;text-align:center;border-radius: 10px">
  <h3>Bootstrap & AngularJS Tutorial</h3> 
</div>
<div ng-app="app" ng-controller="formControl" style="border:0.5px solid lightgray;padding:20px;border-radius:15px">
<h5 style="text-align:center;padding:15px;border:1px solid gray;border-radius:10px;background-color:black;color:white;">Customer Table</h5>
<input type="text" placeholder="Filter term..." class="form-control" ng-model="inputFilter">

Filter by Country: 
<select ng-model="selectedCountry">
  <option ng-repeat="x in customers" value="{{x.Country}}">{{x.Country}}</option>
</select>



<table class="table" style="border-bottom: 1px lightgray solid">
	<th>No.</th>
	<th>Customer Name</th>
    <th>Customer Location</th>
    <th>Update</th>
    <th>Remove</th>
	<tr ng-init="get()" ng-repeat="c in customers | filter: inputFilter | limitTo: 7 | orderBy: selectedCountry">
      <td style="border-right:1px solid lightgray">{{ $index + 1 }}. </td>
      <td style="border-right:1px solid lightgray" ng-show="!updating">{{ c.Name }}</td>
      <td style="border-right:1px solid lightgray" ng-show="!updating">{{ c.City + ',' + c.Country}}</td>
      
      <td ng-show="updating">
      	<input type="text" class="form-control" ng-model="c.Name">
	  </td>
      <td ng-show="updating">
        <div>
          <input type="text" class="form-control" ng-model="c.City" placeholder="City">
          <input type="text" class="form-control" ng-model="c.Country" placeholder="Country">
        </div>
      </td>
          
       <td style="border-right:1px solid lightgray"><button ng-click="update(c)" class="btn btn-outline-primary btn-sm" style="background-color:#ffb366;color:white;border: 0"> Update </button></td>
      <td><button ng-click="delete(c)" class="btn btn-outline-primary btn-sm" style="background-color:#ff6666;color:white;border: 0"> Remove </button></td>

  </tr>
</table>

<button ng-hide="showCust" ng-click="addCustClick()" class="btn btn-primary btn-sm" style="background-color:#80bfff;color:white;border:0"> <span style="font-size:1.5em;marging-top:5px;margin-right:5px">+</span>Add Customer </button>
<button ng-show="showCust" ng-click="addCustClick()" class="btn btn-primary btn-sm" style="background-color:#80bfff;color:white;border:0"> <span style="font-size:1.5em;marging-top:5px;margin-right:5px">-</span>Hide Customer Form </button>

<form ng-show="showCust" class="form-group" id="myForm">
<h5 style="margin-top:15px;text-align:center;padding:15px;border:1px solid gray;border-radius:10px;background-color:black;color:white;">Add New Customer</h5>
  <p>Name: <input type="text" placeholder="eg. John Doe" class="form-control" ng-model="name" required></p>
  <p>City: <input type="text" placeholder="eg. Dublin" class="form-control" ng-model="city" required></p>
  <p>Country: <input type="text" placeholder="eg. Ireland" class="form-control" ng-model="country" required></p>
  <button class="btn btn-primary btn-sm btn-block" style="background-color:#85e085;color:white;border:0" ng-click="create(name,city,country)"> Add </button>
</form>


</body>
</html>
